body {
	font-family: 'Arial', sans-serif;
	margin: 20px;
	background-color: #f4f4f4;
	color: #333
}

header {
	background: #007BFF;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

header a {
	color: #007B;
	text-decoration: none;
}

main {
	padding: 20px;
	background: white;
	margin-top: 20px;
}

h1, h2, h3 {
	color: #333;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 8px;
	margin-bottom: 10px;
	background-color: #eee;
	border-left: 5px solid #007BFF;
	color: #007B;
}

form {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

button,
input[type="submit"] {
	background-color: #007BFF;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
	background-color: #0056b3;
}

.error {
	color: #FF0000;
	margin: 5px 0 15px 0;
	display: block;
}
